@import "../stylesheets/Core/reset.scss";
@import "../stylesheets/Core/mixin.scss";
@import "../stylesheets/Components/pokelist.scss";

.tittle {
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  @include tablet() {
    font-size: 30px;
  }
  @include desktop() {
    font-size: 40px;
  }
}
.tittle1 {
  margin: 20px;
  font-size: 40px;
  font-weight: bold;
  @include tablet() {
    font-size: 50px;
  }
  @include desktop() {
    font-size: 60px;
  }
}
